<a href="https://colab.research.google.com/github/JulioGoS/Tratamiento-de-datos-con-Python/blob/main/01ElementosPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tratamiento de Datos de Python**
[*FES Aragon*]
# Curso intersemestral
## ICO
### Tratamiento de datos

In [ ]:
# Serie de fibonacci
a = 0
print(a)
b=1
print(b)

for _ in range(12):
  r = a+b
  a = b
  b = r
  print(r)

0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [ ]:
palabra = 'Datos'
for letra in palabra:
  print(letra)
  if letra == 't':
    break

D
a
t

In [ ]:
#Ciclos anidados
for i in range(1,11):
  print(f'Tabla del {i}:')
  for j in range(1,11):
    r = i*j
    print(f'{i}*{j}={r}')
  print(' ')

Tabla del 1:
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

Tabla del 2:
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

Tabla del 3:
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

Tabla del 4:
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

Tabla del 5:
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Tabla del 6:
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

Tabla del 7:
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

Tabla del 8:
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

Tabla del 9:
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

Tabla del 10:
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [ ]:
from typing import no_type_check
VOCALES = 'aeiou'
frase = 'SupercAlifragilisticoespialidoso'

no_vocales = 0
for letra in frase.lower():
  if letra in VOCALES:
    no_vocales +=1
print(no_vocales)

15

In [ ]:
#Listas

compra = ['Agua', 'Huevos', 'Aceite', 'Sal', 'Limón']
detalle = ['mineral natural', 'organicos', 'de oliva virgen', 'de mar', 'verde']

for prodcuto in compra:
  print(prodcuto)

#Enumerad

for i, producto in enumerate(compra):
  print(i, producto)

#zip
for producto, detail in zip(compra, detalle):
  print(prodcuto, detail )
print(list(zip(compra, detalle)))

Agua
Huevos
Aceite
Sal
Limón
0 Agua
1 Huevos
2 Aceite
3 Sal
4 Limón
Limón mineral natural
Limón organicos
Limón de oliva virgen
Limón de mar
Limón verde
[('Agua', 'mineral natural'), ('Huevos', 'organicos'), ('Aceite', 'de oliva virgen'), ('Sal', 'de mar'), ('Limón', 'verde')]

In [ ]:
valores = '32,45,11,87,20,48'
lista_valores = []
for valor in valores.split(','):
  lista_valores.append(int(valor))
print(lista_valores)

[32, 45, 11, 87, 20, 48]

In [ ]:
lista_enteros = [int(valor) for valor in valores.split(',')]
print(lista_valores)

[32, 45, 11, 87, 20, 48]

In [ ]:
lista = ['pan', 'jamon', 100, 123.45]
print(lista)
print(lista[0])

['pan', 'jamon', 100, 123.45]
pan

In [ ]:
lista.append('jugo')

In [ ]:
lista

['pan', 'jamon', 100, 123.45, 'jugo']

In [ ]:
lista.count(100)

In [ ]:
lista.extend([40,'cebolla',10])
lista

['pan', 'jamon', 100, 123.45, 'jugo', 40, 'cebolla', 10]

In [ ]:
lista.append(['tocino',90])
lista

['pan', 'jamon', 100, 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90]]

In [ ]:
lista.extend(range(500,505))
lista

['pan',
 'jamon',
 100,
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [ ]:
lista.index(500)

9

In [ ]:
lista.insert(3,'mostaza')
lista

['pan',
 'jamon',
 100,
 'mostaza',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [ ]:
lista[0]='pan integral'
lista

['pan integral',
 'jamon',
 100,
 'mostaza',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [ ]:
lista[4:10]

[123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90]]

In [ ]:
lista[:]

['pan integral',
 'jamon',
 100,
 'mostaza',
 123.45,
 'jugo',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [ ]:
lista[::-1]

[504,
 503,
 502,
 501,
 500,
 ['tocino', 90],
 10,
 'cebolla',
 40,
 'jugo',
 123.45,
 'mostaza',
 100,
 'jamon',
 'pan integral']

In [ ]:
#Crear un alias de lista
lista2=lista
print(lista)
print(lista2)

['pan integral', 'jamon', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'jamon', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [ ]:
lista[1] = 'tocino'
print(lista)
print(lista2)

['pan integral', 'tocino', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mostaza', 123.45, 'jugo', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [ ]:
lista2[3] = 'mayonesa'
print(lista)
print(lista2)

['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [ ]:
#Crear un copia

lista3 = lista[:]

In [ ]:
lista[5] = 'agua'
print(lista)
print(lista2)
print(lista3)

['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]
['pan integral', 'tocino', 100, 'mayonesa', 123.45, 'agua', 40, 'cebolla', 10, ['tocino', 90], 500, 501, 502, 503, 504]

In [ ]:
lista4 = lista + lista3
lista4

['pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'agua',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504,
 'pan integral',
 'tocino',
 100,
 'mayonesa',
 123.45,
 'agua',
 40,
 'cebolla',
 10,
 ['tocino', 90],
 500,
 501,
 502,
 503,
 504]

In [ ]:
lista_cursos = ['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']
lista_cursos

['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']

In [ ]:
set_cursos = set(lista_cursos)
set_cursos

{'Base de datos', 'Big Data', 'Ciencia de datos', 'Python'}

In [ ]:
set_cursos2 = set(['Python','Pandas','Mineria','Base de datos'])
set_cursos2

{'Base de datos', 'Mineria', 'Pandas', 'Python'}

In [ ]:
set_cursos.union(set_cursos2)

{'Base de datos',
 'Big Data',
 'Ciencia de datos',
 'Mineria',
 'Pandas',
 'Python'}

In [ ]:
set_cursos.intersection(set_cursos2)

{'Base de datos', 'Python'}

In [ ]:
set_cursos.difference(set_cursos2)

{'Big Data', 'Ciencia de datos'}

In [ ]:
set_cursos.union(set_cursos2)

{'Base de datos',
 'Big Data',
 'Ciencia de datos',
 'Mineria',
 'Pandas',
 'Python'}

In [ ]:
diccionario = {'nombre' : 'Juan', 'edad' : 22, 'cursos': ['Python','Ciencia de datos','Big Data'] }
diccionario

{'cursos': ['Python', 'Ciencia de datos', 'Big Data'],
 'edad': 22,
 'nombre': 'Juan'}

In [ ]:
diccionario['cursos']

['Python', 'Ciencia de datos', 'Big Data']

In [ ]:
for c in diccionario['cursos']:
  print(c)

Python
Ciencia de datos
Big Data

In [ ]:
#Llaves de diccionario

for k in diccionario.keys():
  print(k)

nombre
edad
cursos

In [ ]:
#Valores de diccionario
for v in diccionario.values():
  print(v)

Juan
22
['Python', 'Ciencia de datos', 'Big Data']

In [ ]:
#Items de diccionario
for i in diccionario.items():
  print(i)

('nombre', 'Juan')
('edad', 22)
('cursos', ['Python', 'Ciencia de datos', 'Big Data'])

In [ ]:
datos = ('Tokyo:38140000;Delhi:26454000;Shanghai:24484000;'
    'Mumbai:21357000;São Paulo:21297000;CDMX:24800000'
)
datos

'Tokyo:38140000;Delhi:26454000;Shanghai:24484000;Mumbai:21357000;São Paulo:21297000;CDMX:24800000'

In [ ]:
ciudades = {}
for r in datos.split(';'):
  ciudad, poblacion = r.split(':')
  ciudades[ciudad] = int(poblacion)
ciudades

{'CDMX': 24800000,
 'Delhi': 26454000,
 'Mumbai': 21357000,
 'Shanghai': 24484000,
 'São Paulo': 21297000,
 'Tokyo': 38140000}